{% from "cart/_Item.html" import Item -%}

{% macro Cart(cart_items, tax=0.18) -%}
<aside class="cart">
    <header>
        Carrito de compras
        <a>→</a>
    </header>
    <div id="cart-items">
        {% for cart_item in cart_items %}{{ Item(cart_item) }}{% endfor %}
    </div>

    {% if cart_items -%}
    {% set sub = cart_items|sum(attribute="price") -%}
    <footer>
        <div>
            <span>Sub-total:</span>
            <span>S/<span id="cart-sub">{{ sub }}</span></span>
        </div>
        <div>
            <span>I.G.V:</span>
            <span>S/<span id="cart-igv">{{ sub * tax }}</span></span>
        </div>
        <div>
            <span>TOTAL:</span>
            <span>S/<span id="cart-total">{{ (sub * (1 + tax))|round|int }}</span></span>
        </div>
    </footer>
    {%- endif %}
</aside>
{%- endmacro %}
