<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Monolith demo</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="{{ url_for('static', filename='turbo.es2017-umd.js') }}" defer></script>
    <meta name="csrf-token" content="loremipsum">
</head>
<body class="font-sans antialiased text-gray-800 bg-white cursor-default">
	{% block body %}{% endblock %}
</body>
</html>
